@import '../style/base.scss';
$cls: '.zzc-tabs';
#{$cls} {
    background: #fff;
    width: 100%;
    &-box {
        background: #fff;
        overflow: hidden;
        #{$cls}-bar-wrap{
            width: 100%;
            overflow: visible;
            &-am{
                @include setTransition();
            }
        }
        #{$cls}-ls {
            background: #fff;
            height: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            @include halfPXLine('bottom','#E8E8E8');
            &-item {
                height: 100%;
                flex-shrink: 0;
                color: #666666;
                font-size: $fs28rem;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                &#{$cls}-active{
                    color: $main;
                }
            }
            &-unline {
                position: absolute;
                z-index: 10;
                left: 0;
                bottom: 0;
                background: $main;
                height: .04rem;
                &-am{
                    @include setTransition();
                }
            }
        }
    }
}