@import '../style/base.scss';
$cls: '.zds-tabs';
#{$cls} {
    background: $c_fff;
    width: 100%;
    &-box {
        background: $c_fff;
        overflow: hidden;
        display: flex;
        &-top {
            flex-direction: column;
            #{$cls}-bar-box {
                border-bottom: 1px solid $tabs_border_color;
                &::after {
                    z-index: 9;
                }
            }
        }
        &-bottom {
            flex-direction: column-reverse;
            #{$cls}-bar-box {
                border-top: 1px solid $tabs_border_color;
                &::after {
                    z-index: 9;
                }
            }
        }
        &-left {
            flex-direction: row;
            height: 100%;
            #{$cls}-bar-box {
                border-right: 1px solid $tabs_border_color;
                &::after {
                    z-index: 9;
                }
            }
        }
        &-right {
            height: 100%;
            flex-direction: row-reverse;
            #{$cls}-bar-box {
                border-left: 1px solid $tabs_border_color;
                &::after {
                    z-index: 9;
                }
            }
        }
        #{$cls}-bar-wrap {
            width: 100%;
            overflow: visible;
            &-am {
                @include setTransition();
            }
        }
        #{$cls}-bar-box {
            #{$cls}-ls {
                background: $c_fff;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
                position: relative;
                &-vertical {
                    height: 100%;
                    flex-direction: column;
                    #{$cls}-ls-item {
                        padding: 0 5px;
                    }
                }
                &-item {
                    overflow: hidden;
                    height: 100%;
                    flex-shrink: 0;
                    color: $c_666;
                    font-size: $fs_h2;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    white-space: nowrap;
                    &#{$cls}-active {
                        color: $main;
                    }
                }
                &-unline {
                    position: absolute;
                    z-index: 12;
                    background: $main;
                    &-am {
                        @include setTransition();
                    }
                    &-top {
                        left: 0;
                        bottom: 0;
                        height: 2px;
                    }
                    &-bottom {
                        left: 0;
                        bottom: 0;
                        height: 2px;
                    }
                    &-left {
                        top: 0;
                        right: 0;
                        width: 2px;
                    }
                    &-right {
                        left: 0;
                        right: 0;
                        width: 2px;
                    }
                }
            }
        }
        #{$cls}-content-wrap {
            width: 100%;
            overflow: visible;
            &-am {
                @include setTransition();
            }
        }
        #{$cls}-content-box{
            overflow: hidden;
            width: 100%;
            &-vertical{
                height: 100%;
                #{$cls}-content-wrap{
                    height: 100%;
                }
                #{$cls}-content{
                    flex-direction: column;
                }
            }
            &-horizontal{
                #{$cls}-content{
                    flex-direction: row;
                }
            }
            #{$cls}-content {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: auto;
                background: $c_fff;
                &-item {
                    height: auto;
                    width: 100%;
                    flex-shrink: 0;
                }
            }
        }
        
    }
}