body {
    background: #e8e8e8 !important;
}
.zzc-demo,.zzc-demo-header,.zzc-demo-body{
    background: #e8e8e8;
}
.card-box2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .28rem;
    color: #333;
    padding: .3rem 0;
}