.zzc-demo {
    background: transparent!important;
}
.zzc-demo .zzc-demo-body {
    padding: 0!important;
    h4{
        font-size: 17px;
        padding: 20px 15px!important;
    }
}
.inputItem{
    display: flex;
    align-items: center;
    p{
        line-height: 1;
        font-size: 14px;
    }
}

.wechat_text{
    font-size: 14px;
    text-align: left;
    flex: 1;
    color: #999;
}
