@import '../style/base.scss';
$cls: '.zds-picker';
#{$cls} {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5.4rem;
    #{$cls}-wrapper {
        display: block;
        flex: 1;
        overflow: hidden;
        height: 100%;
        width: 100%;
        background: #fff;
        position: relative;
        &::before {
            display: block;
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            right: 0;
            width: 200%;
            height: 1.6rem;
            border-top: 1px solid #e8e8e8;
            border-bottom: 1px solid #e8e8e8;
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
            -webkit-transform: scale(0.5, 0.5) translateY(-50%);
            transform: scale(0.5, 0.5) translateY(-50%);
            box-sizing: border-box;
            background: transparent;
        }
        &-bg {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            margin: 0 auto;
            background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .95), hsla(0, 0%, 100%, .6)), linear-gradient(0deg, hsla(0, 0%, 100%, .95), hsla(0, 0%, 100%, .6));
            background-position: top, bottom;
            background-size: 100% 2.04rem;
            background-repeat: no-repeat;
        }
        #{$cls}-ws {
            margin-top: 2.3rem;
            #{$cls}-wi {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: .28rem;
                height: .8rem;
                box-sizing: border-box;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                &-active {
                    color: $main;
                    font-size: .3rem;
                }
            }
        }
    }
}