@import '../style/base.scss';
$cls: '.zzc-picker';
#{$cls} {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5.4rem;
    position: relative;
    &::before {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        top: 2.25rem;
        width: 200%;
        height: 1.6rem;
        border-top: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
        box-sizing: border-box;
        background: transparent;
    }
    #{$cls}-wrapper {
        display: block;
        flex: 1;
        overflow: hidden;
        height: 100%;
        width: 100%;
        background: #fff;
        #{$cls}-ws {
            margin-top: 2.25rem;
            #{$cls}-wi {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: .28rem;
                height: .8rem;
                box-sizing: border-box;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                &-active{
                    color:$main;
                    font-size: .3rem;
                }
            }
        }
    }
}