body {
    background: #e8e8e8 !important;
}
.zzc-demo,.zzc-demo-header,.zzc-demo-body{
    background: #e8e8e8;
}
.modal-text {
    font-size: .26rem;
    color: #333;
    padding: .3rem;
    background: #e8e8e8;
}
.card-box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .28rem;
    color: #333;
    height: 2rem;
}

.card-box2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .28rem;
    color: #333;
    padding: .3rem 0;
}

.cursor-car-head {
    justify-items: end;
    .cursor-car-close{
        font-size: .24rem;
        color:#333;
        display: block;
        position: absolute;
        right:.3rem;
        top:.3rem;
    }
}

.btn-group{
    display: flex;
    .zzc-button{
        width: 50%;
        flex: 1;
    }
}

.card1-contnt{
    height: 5rem;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
.card2{
    width: 4rem;
}
.card2-contnt{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}