<!DOCTYPE>
<html>
<head>
    <title>Skeleton</title>
    {{> '../../template/header.hbs'}}
    <link rel="stylesheet" href="../css/Skeleton.css">
<body>
<div class="zds-skeleton">
    <div class="zds-skeleton-box" style="align-items: flex-start; justify-content: flex-start; flex-direction: row;">
        <div class="zds-skeleton-item" style="height: 34px; width: 222px;"></div>
    </div>
    <div class="zds-skeleton-box" style="margin-top: 20px; align-items: flex-start; justify-content: flex-start; flex-direction: row;">
        <div class="zds-skeleton-item" style="height: 34px; width: 100%;"></div>
    </div>
    <div class="zds-skeleton-box" style="margin-top: 20px; align-items: flex-start; justify-content: flex-start; flex-direction: row;">
        <div class="zds-skeleton-item" style="height: 54px; width: 100%;"></div>
    </div>
</div>
<div id="root">

</div>

{{> '../../template/footer.hbs'}}
<script src="../js/Skeleton.js"></script>

</body>
</html>
