@import '../style/base.scss';
$cls: '.zds-card';
#{$cls} {
    background: transparent;
    &-full{
        #{$cls}-box{
            margin: 0;
            border-radius: 0;
            box-shadow:none;
        }
    }
    &-box {
        overflow: hidden;
        background: $c_fff;
        border-radius: 8px;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
    }
}