@import '../style/base.scss';
$cls: '.zds-input';
$cls2: '.zds-input-phone';

#{$cls} {
    background: transparent;
    color: $input_color;
    font-size: $fs_h2;
    display: block;
    flex: 1;
    width: 100%;
    line-height: $fs_h2;

    input {
        caret-color: $main;
    }

    &::placeholder {
        line-height: 21px;
        vertical-align: middle;
        color: rgba(51, 51, 51, .2);
        font-size: 14px;
        // line-height: 14px;
    }
}

#{$cls2}-box {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;

    input {
        caret-color: $main;
    }

    #{$cls2}-prefix {
        color: $title_black;
        font-size: $fs14px;
        margin-right: 10px;
        display: flex;
        align-items: center;

        svg {
            margin-left: 2px;
            transform: rotate(90deg);
        }
    }
}

#{$cls2}-popup-header {
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    color: #333333;
}

#{$cls2}-popup-box-list {
    max-height: 345px;
    overflow: auto;
}

#{$cls2}-popup-prefix-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;

    &.active {
        svg {
            color: $main;
        }

        p {
            color: $main;
        }
    }

    p {
        flex: 1;
        font-size: $fs14px;
        padding-right: 10px;
    }

    svg {
        width: 18px;
        height: 18px;
    }
}

#{$cls2}-code-input-box {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;

    &-add {
        width: 40px;
        height: 40px;
        line-height: 35px;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 4px 0 0 4px;
        box-sizing: border-box;
        background: #EEEEEE;
    }

    &-input {
        flex: 1;
        box-sizing: border-box;
        height: 40px;
        border: 1px solid #ccc;
        border-left: none;
        border-radius: 0 4px 4px 0;
        padding: 0 10px;
        font-size: $fs14px;
        background: no-repeat;
        caret-color: $main;
    }
}

#{$cls}-textarea {
    color: red;
    display: block;
    flex: 1;
    width: 100%;

    &-count {
        text-align: right;
        color: #9EA1B0;
        font-size: $fs11px;
        line-height: $fs11px;
        margin-top: 25px;
    }

    textarea {
        overflow: visible;
        word-break: break-word;
        word-wrap: break-word;
        color: $c_333;
        font-size: $fs14px;
        //width: 345px;      
        width: 100%;
        line-height: 21px;
        display: block;

        &:disabled {
            color: $button_border_disabled;
        }

        &::placeholder {
            color: rgba(51, 51, 51, .2);
            line-height: 21px;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &-auto-height {
        textarea {
            overflow: hidden;
            min-height: 11px;
        }
    }

}

#{$cls}-send {
    &-code {
        font-size: $fs14px;
        color: $main;
        display: flex;
        align-items: center;
        margin-left: 0.1rem;
        &:before {
          content: "";
          width: 1px;
          height: .6rem;
          transform: scale(.5);
          background-color: #9ea1b0;
          margin-right: .15rem;
        }
    }
}