@import '../style/base.scss';
$cls: '.zzc-dialog';
$cls2: '.zzc';

#{$cls} {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    #{$cls}-mask {
        background: rgba(0, 0, 0, .8);
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 999;
    }
    #{$cls}-box {
        position: absolute;
        background: #fff;
        z-index: 1001;
    }
}


#{$cls2}-fade-enter {
    opacity: 0;
    animation-duration: .2s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
    animation-play-state: paused;
    &#{$cls2}-fade-enter-active {
        -webkit-animation-name: zzcFadeIn;
        animation-name: zzcFadeIn;
        -webkit-animation-play-state: running;
        animation-play-state: running;
    }
}

#{$cls2}-fade-leave {
    opacity: 0;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
    animation-play-state: paused;
    &#{$cls2}-fade-leave-active {
        -webkit-animation-name: zzcFadeOut;
        animation-name: zzcFadeOut;
        -webkit-animation-play-state: running;
        animation-play-state: running;
    }
}

@keyframes zzcFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes zzcFadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#{$cls2}-zoom-enter {
    opacity: 0;
    transform: scale(.3);
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation-play-state: paused;
    &#{$cls2}-zoom-enter-active {
        -webkit-animation-name: zzcZoomIn;
        animation-name: zzcZoomIn;
        -webkit-animation-play-state: running;
        animation-play-state: running;
    }
}

#{$cls2}-zoom-leave {
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation-play-state: paused;
    &#{$cls2}-zoom-leave-active {
        -webkit-animation-name: zzcZoomOut;
        animation-name: zzcZoomOut;
        -webkit-animation-play-state: running;
        animation-play-state: running;
    }
}

@keyframes zzcZoomIn {
    0% {
        opacity: 0;
        transform: scale(.3);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes zzcZoomOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(.3);
    }
}