@import '../style/base.scss';
$cls: '.zds-full-modal';
#{$cls} {
    &-box {
        height: 100%;
        width: 100%;
        background: $c_fff;
        #{$cls}-content {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            #{$cls}-head {
                padding: 64px 15px 9px;
                position: relative;
                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    z-index: 11;
                    bottom: 0;
                    left: 50%;
                    width: 23.5px;
                    border-bottom: 4px solid $main;
                    transform: translateX(-50%);
                }
                h5 {
                    color: #282828;
                    padding: 0;
                    font-size: 22px;
                    line-height: 1.5;
                    text-align: center;
                }
            }
            #{$cls}-body {
                flex: 1;
                margin-top: 23px;
                height: 400px;
                padding: 0 15px;
                font-size: $fs_menu;
                overflow-y: scroll;
                overflow-x: hidden;
                word-wrap: break-word;
                -webkit-overflow-scrolling: touch;
                &#{$cls}-wrapper{
                    overflow-y: hidden;
                }
            }
            #{$cls}-footer {
                margin: 25px 0 40px;
                display: flex;
                justify-content: center;
                position: relative;
                &::after {
                    display: block;
                    content: '';
                    position: absolute;
                    top: -22.5px;
                    transform: translateY(-100%);
                    left: 0;
                    width: 100%;
                    height: 20px;
                    background: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, 1));
                    ;
                    z-index: 999;
                }
                #{$cls}-btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 46px;
                    height: 46px;
                    border-radius: 50%;
                    border: 1px solid $c_666;
                    &-active {
                        background: #e1e1e1;
                    }
                    span {
                        width: 46px;
                        height: 46px;
                        position: relative;
                        transform: rotate(45deg);
                        &::after {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translateX(-50%) translateY(-50%);
                            display: block;
                            content: '';
                            width: 50%;
                            height: 1px;
                            background: $c_666;
                        }
                        &::before {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translateX(-50%) translateY(-50%) rotate(90deg);
                            display: block;
                            content: '';
                            width: 50%;
                            height: 1px;
                            background: $c_666;
                        }
                    }
                }
            }
        }
    }
}