@import '../style/base.scss';
$cls: '.zds-datepicker';

#{$cls} {
    &-header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 56px;
        box-sizing: border-box;
        border-bottom: 1px solid $datePicker_border;
        p {
            font-size: $fs_h1;
            font-weight: 600;
            line-height: $fs_h1;
            text-align: center;
        }
    }
    &-body{
        padding: 15px 15px 0;
    }
    &-footer{
        #{$cls}-warning{
            margin-bottom: 10px;
            @include flex(center, flex-start);
            p{
                margin-left: 5px;
                font-size: $fs_stext;
                line-height: $fs_stext;
                color: #696E7C;
            }
        }
        padding: 15px;
    }
}