@import '../style/base.scss';
$cls: '.zds-popup';
$cls2: '.zds';
#{$cls} {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    #{$cls}-mask {
        background: rgba(0, 0, 0, .8);
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 999;
    }
    #{$cls}-box {
        position: absolute;
        background: #fff;
        z-index: 1001;
        width: 100%;
        &#{$cls}-bottom{
            bottom:0;
            left: 0;
        }
        &#{$cls}-top{
            top:0;
            left: 0;
        }
        &#{$cls}-left{
            top:0;
            left: 0;
            bottom: 0;
            width: auto;
        }
        &#{$cls}-right{
            top:0;
            right: 0;
            bottom: 0;
            width: auto;
        }
    }
}

#{$cls2}-slide-bottom-enter{
    position: absolute;
    transform: translateY(100%);
    animation-duration: .2s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(.47,.65,.61,.9);
    animation-play-state: paused;
    &#{$cls2}-slide-bottom-enter-active {
        -webkit-animation-name: zzcSlideBottomEnter;
        animation-name: zzcSlideBottomEnter;
        -webkit-animation-play-state: running;
        animation-play-state: running;
    }
}

#{$cls2}-slide-bottom-leave{
    position: absolute;
    transform: translateY(100%);
    animation-duration: .2s;
    animation-fill-mode: both;
    animation-play-state: paused;
    &#{$cls2}-slide-bottom-leave-active {
        -webkit-animation-name: zzcSlideBottomLeave;
        animation-name: zzcSlideBottomLeave;
        -webkit-animation-play-state: running;
        animation-play-state: running;
    }
}

@keyframes zzcSlideBottomEnter {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes zzcSlideBottomLeave {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}

#{$cls2}-slide-top-enter{
    position: absolute;
    transform: translateY(-100%);
    animation-duration: .2s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(.47,.65,.61,.9);
    animation-play-state: paused;
    &#{$cls2}-slide-top-enter-active {
        -webkit-animation-name: zzcSlideTopEnter;
        animation-name: zzcSlideTopEnter;
        -webkit-animation-play-state: running;
        animation-play-state: running;
    }
}

#{$cls2}-slide-top-leave{
    position: absolute;
    transform: translateY(0);
    animation-duration: .2s;
    animation-fill-mode: both;
    animation-play-state: paused;
    &#{$cls2}-slide-top-leave-active {
        -webkit-animation-name: zzcSlideTopLeave;
        animation-name: zzcSlideTopLeave;
        -webkit-animation-play-state: running;
        animation-play-state: running;
    }
}

@keyframes zzcSlideTopEnter {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes zzcSlideTopLeave {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

#{$cls2}-slide-left-enter{
    position: absolute;
    transform: translateX(-100%);
    animation-duration: .2s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(.47,.65,.61,.9);
    animation-play-state: paused;
    &#{$cls2}-slide-left-enter-active {
        -webkit-animation-name: zzcSlideLeftEnter;
        animation-name: zzcSlideLeftEnter;
        -webkit-animation-play-state: running;
        animation-play-state: running;
    }
}

#{$cls2}-slide-left-leave{
    position: absolute;
    transform: translateX(0);
    animation-duration: .2s;
    animation-fill-mode: both;
    animation-play-state: paused;
    &#{$cls2}-slide-left-leave-active {
        -webkit-animation-name: zzcSlideLeftLeave;
        animation-name: zzcSlideLeftLeave;
        -webkit-animation-play-state: running;
        animation-play-state: running;
    }
}

@keyframes zzcSlideLeftEnter {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes zzcSlideLeftLeave {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

#{$cls2}-slide-right-enter{
    position: absolute;
    transform: translateX(100%);
    animation-duration: .2s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(.47,.65,.61,.9);
    animation-play-state: paused;
    &#{$cls2}-slide-right-enter-active {
        -webkit-animation-name: zzcSlideRightEnter;
        animation-name: zzcSlideRightEnter;
        -webkit-animation-play-state: running;
        animation-play-state: running;
    }
}

#{$cls2}-slide-right-leave{
    position: absolute;
    transform: translateX(0);
    animation-duration: .2s;
    animation-fill-mode: both;
    animation-play-state: paused;
    &#{$cls2}-slide-right-leave-active {
        -webkit-animation-name: zzcSlideRightLeave;
        animation-name: zzcSlideRightLeave;
        -webkit-animation-play-state: running;
        animation-play-state: running;
    }
}

@keyframes zzcSlideRightEnter {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes zzcSlideRightLeave {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}