<!DOCTYPE>
<html>
<head>
    <title>Card2</title>
    {{> '../../template/header.hbs'}}
    <link rel="stylesheet" href="../css/Card2.css">
<body>
    
<div id="root">

</div>
{{> '../../template/footer.hbs'}}
<script src="../js/Card2.js"></script>

</body>
</html>
