body,
#root {
    background: #fff!important;
}
.zzc-demo {
    background: transparent;
    .zzc-demo-body {
        border-bottom: 4px solid #F6F6F6;
    }
    h5 {
        font-size: 16px;
        margin-bottom: 20px;
        padding: 0 .3rem .3rem;
    }
    p {
        line-height: 1;
        font-size: 18px;
    }
    .wrapper {
        padding: 0 .3rem;
    }
    .demo-item {
        margin-bottom: 10px
    }
    .desc {
        padding: .3rem 0;
        font-size: 16px;
    }
    .demo-step {
        .zds-step-title,
        .zds-step-description {
            color: #8592A6;
        }
        .zds-step-title {
            color: #333!important;
        }
    }
}
