@import '../style/base.scss';
$cls: '.zds-form';
$cls2: '.zds-form-item';
#{$cls} {
    padding: 0 15px;
    background: #fff;
    #{$cls2}{
        &:not(:last-child) {
            border-bottom: 1px solid rgba(105,110,124,.15);
        }
    }
}
#{$cls2} {
    padding: 21px 0;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    label {
        color: #333;
        font-size: 14px;
        font-weight: bold;
        margin-right: 30px;
        text-align: left;
    }
    #{$cls2}-extra-box{

    }
}
