@import '../style/base.scss';
$cls: '.zds-popup';
#{$cls} {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    height: 100%;
    width: 100%;
    @include flex();
    
    #{$cls}-mask {
        background: rgba(23, 22, 41, .7);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 999;
    }
    #{$cls}-box {
        position: absolute;
        background: $c_fff;
        z-index: 1001;
        width: 100%;
        &#{$cls}-bottom{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            bottom:0;
            left: 0;
        }
        &#{$cls}-top{
            top:0;
            left: 0;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        &#{$cls}-left{
            top:0;
            left: 0;
            bottom: 0;
            width: auto;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        &#{$cls}-right{
            top:0;
            right: 0;
            bottom: 0;
            width: auto;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
    }
}

