

.zzc-demo{
    .zzc-demo-header{
        padding: .3rem;
        .zzc-demo-title{
            font-size: .32rem;
            color:#666;
        }
    }
    .zzc-demo-body{
        margin-top: .2rem;
    }
}

