.zzc-demo-body{
    margin-top:.5rem;
    padding-left: 0!important;
    padding-right: 0!important;
    h5{
        padding-left: 10px!important;
        padding-right: 10px!important;
    }
    .zzc-icon{
        margin-right: .2rem;
    }

    .zds-prompt{
        margin-top: 10px;
    }
}