<!DOCTYPE>
<html>
<head>
    <title>list</title>
    {{> '../../template/header.hbs'}}
    <link rel="stylesheet" href="../css/list.css">
<body>

<div id="root">

</div>
{{> '../../template/footer.hbs'}}
<script src="../js/list.js"></script>

</body>
</html>
