@import '../style/base.scss';

$cls: '.zds-toast';
#{$cls} {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1004;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    &#{$cls}-nofixed{
        position: absolute;
    }
    &#{$cls}-nomask {
        width: auto;
        max-width: 218.5px;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }
    &#{$cls}-icon {
        #{$cls}-notice-content {
            min-width: 100px;
            #{$cls}-text-content {
                margin-top: 10px;
            }
        }
    }
    #{$cls}-notice-content {
        background: rgba(65, 72, 93, 0.8);
        border-radius: 8px;
        text-align: center;
        padding: 10px 20px;
        box-sizing: border-box;
        max-width: 218.5px;
        #{$cls}-text {
            color: $c_fff;
            font-size: $fs_h2;
            word-break: break-all;
        }
    }
}