@import '../../../style/base.scss';
$cls: '.zzc-card-body';
#{$cls} {
    width: 100%;
    padding: 0 .3rem;
    box-sizing: border-box;
    
    &:after{
        margin: 0 .3rem;
    }
    &-border-left{
       padding-right: 0; 
       #{$cls}-box{
           padding-right: .3rem;
       }
    }
    &-border-right{
        padding-left: 0; 
        #{$cls}-box{
            padding-left: .3rem;
        }
    }
    &-full {
        padding: 0;
    }
    &-noborder {
        #{$cls}-box {
            &:after {
                display: none !important;
            }
        }
    }
    &-box{
        @include halfPXLine('bottom', $border_color);
    }
}