<!DOCTYPE>
<html>
<head>
    <title>List</title>
    {{> '../../template/header.hbs'}}
    <link rel="stylesheet" href="../css/InputNumber.css">
<body>
    
<div id="root">

</div>
{{> '../../template/footer.hbs'}}
<script src="../js/InputNumber.js"></script>

</body>
</html>
