.zzc-demo {
    background: transparent!important;
}
.zzc-demo .zzc-demo-body {
    padding: 0!important;
    h5{
        padding: 20px 15px!important;
    }
}
.inputItem{
    display: flex;
    align-items: center;
    p{
        line-height: 1;
        font-size: 14px;
    }
}
