@import '../style/base.scss';
$cls: '.zzc-input-item';

//输入框基本样式
@mixin inputBase() {

}

//按钮尺寸
@mixin btnSize() {
    //默认尺寸
    height: .88rem;
    line-height: .88rem;
    font-size: $fs32rem;
    &#{$cls}-lg {
        height: 1rem;
        line-height: 1rem;
        font-size: $fs32rem;
    }
    &#{$cls}-ms {
        height: .7rem;
        line-height: .7rem;
        font-size: $fs28rem;
    }
    &#{$cls}-xs {
        height: .6rem;
        line-height: .6rem;
        font-size: $fs24rem;
    }
}

//禁用形式
@mixin disabled() {
    &#{$cls}-disabled {
        opacity: .5;
        // pointer-events: none; 兼容问题
        cursor: not-allowed;
    }
}

//不要圆角
@mixin noBorderRadius() {
    &#{$cls}-noRadius {
        border-radius: 0;
    }
}

//input class
#{$cls} {
    @include inputBase();
    @include inputSize();
    @include inputColor('nomal');
    @include noBorderRadius();
    @include disabled();
}

