#root {
    background: #fff;
}
.zzc-demo {
    background: transparent;
    h5 {
        font-size: 16px;
        padding: 0 .3rem .3rem;
    }
    p{
        line-height: 1;
        font-size: 18px;
    }
    .wrapper {
        padding: 0 .3rem;
    }
    .demo-item {
        margin-bottom: 10px
    }
    .desc {
        padding: .3rem;
        font-size: 12px;
    }
}
