@import '../style/base.scss';
$cls: '.zds-calendar';

#{$cls} {
    display: flex;
    height: 100%;
    flex-direction: column;
    &-close-box {
        height: 55px;
        width: 100%;
        position: relative;

        #{$cls}-close-btn {
            height: 100%;
            padding: 0 15px;
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            align-items: center;
        }
        #{$cls}-close-box-title{
            font-size: 18px;
            // text-align: center;
            text-indent: 15px;
            height: 55px;
            line-height: 55px;
            font-weight: 500;
        }
    }

    .now-text{
        font-weight: 500;
        color: #333333;
        font-size: 16px;
        line-height: 40px;
        text-align: center;
    }

    &-result-box {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px 16px;
        box-sizing: border-box;

        #{$cls}-left,
        #{$cls}-right {
            flex: 1;

            .title {
                font-size: 13px;
                color: #696E7C;
                line-height: 1;
            }

            .time {
                font-size: 23px;
                color: #333;
                font-weight: 600;
                line-height: 1;
                margin-top: 5px;
            }

            .week {
                font-size: 16px;
                color: #333;
                line-height: 1;
                margin-top: 9px;
            }

            .hour {
                font-size: 16px;
                color: #333;
                line-height: 1;
                // margin-top: 9px;
            }

            .placeholder {
                color: #9EA1B0;
                font-size: 16px;
                line-height: 27px;
            }
        }

        #{$cls}-left {

            .title,
            .time,
            .week,
            .hour,
            .placeholder {
                text-align: left;
            }
        }

        #{$cls}-right {

            .title,
            .time,
            .week,
            .hour,
            .placeholder {
                text-align: right;
            }
        }

        .center {
            margin: 0 5px;
            width: 50px;
            height: 26px;
            @include halfPXBorder(#9EA1B0, 33px);
            display: flex;
            align-items: center;
            justify-content: center;
            background: #F5F6F8;

            .day {
                text-align: center;
                color: #696E7C;
                font-size: 16px;
                font-weight: 500;
                width: 100%;
                height: 100%;
                line-height: 31px;
                z-index: 1;
                background: #F5F6F8;
            }

            &::after {
                z-index: 2;
            }

            // &::before {
            //     content: '';
            //     background: #9EA1B0;
            //     width: 1px;
            //     height: 68px;
            //     position: absolute;
            //     z-index: 0;
            //     top: 50%;
            //     left: 50%;
            //     transform: translateX(-50%) translateY(-50%) rotate(15deg);
            // }
        }
    }

    &-week-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 44.5px;
        background: #F9FBFE;
        @include halfPXLine('bottom', rgba(105, 110, 124, .15));

        .item {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;

            p {
                font-size: 14px;
                color: #333;
            }
        }
    }

    &-list-box {
        background: #F9FBFE;
        display: flex;
        flex: 1;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;

        .item {
            .title {
                padding: 20.5px 13px;
                font-size: 18px;
                color: #333;
                line-height: 1;
            }

            .list-item {
                display: flex;
                align-items: center;
                justify-content: space-between;

                li {
                    width: 14.28%;
                    flex: 1;
                    height: 54.5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    position: relative;
                    font-weight: bold;

                    &.gone {
                        p {
                            color: #9EA1B0;

                            &.sub {
                                color: #9EA1B0;
                            }
                        }
                    }

                    &.start,
                    &.end {
                        background: #2871F7;
                        overflow: hidden;

                        p {
                            color: #fff;

                            &.sub {
                                color: #fff;
                            }
                        }
                    }

                    &.start {
                        border-radius: 4px 0 0 4px;

                        &.only {
                            border-radius: 4px;
                        }
                    }

                    &.end {
                        border-radius: 0 4px 4px 0;
                    }

                    &.start.end{
                        border-radius: 4px!important;
                    }

                    &.active {
                        background: #E6EEFE;
                    }

                    &.extension {
                        p{
                            font-size: 12px;
                        }
                    }

                    p {
                        font-size: 16px;
                        text-align: center;
                        color: #333;
                        overflow: hidden;
                        width: 100%;
                        white-space: nowrap;
                        text-overflow: ellipsis;

                        &.sub {
                            font-size: 12px;
                            font-weight: 400;
                            color: #696E7C;
                            position: absolute;
                            bottom: 2px;
                            width: 100%;
                            line-height: 14px;
                            transform: scale(0.833);
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
        }
    }

    &-footer {
        background: #fff;
        border-top: 1px solid rgba(105, 110, 124, .15);
        z-index: 1;
        box-shadow: 0px -5.5px 10px 0px rgba(0, 0, 0, 0.06);

        .time-picker-box {
            .title-box {
                display: flex;
                align-items: center;
                justify-content: space-between;
                @include halfPXLine('bottom', rgba(105, 110, 124, .15));
                height: 40px;
                padding: 0 20px;
                .title {
                    width: 50%;
                    p {
                        width: 100%;
                        font-size: 14px;
                        color: #282828;
                        text-align: center;
                        vertical-align: middle;
                        line-height: 40px;
                    }
                }
            }

            .picker-box {
                padding: 10px 25px;
                .zds-picker-wrapper:nth-of-type(2){
                    margin-right: 30px;
                }
                .zds-calendar-t-p-s-d-bg,
                .zds-calendar-t-r-s-d-bg{
                    .block{
                        border-bottom-right-radius: 0;
                        border-top-right-radius: 0;
                    }
                }
                .zds-calendar-t-p-s-t-bg,
                .zds-calendar-t-r-s-t-bg{
                    .block{
                        
                        border-bottom-left-radius: 0;
                        border-top-left-radius: 0;
                    }
                }
            }
        }

        .calendar-tips-box {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 2px 15px 2px;
            &.mode-day{
                padding-top: 10px;
            }
            svg {
                width: 11px;
                height: 11px;
                margin-right: 4px;
                fill: #696E7C;
            }

            p {
                flex:1;
                font-size: 11px;
                font-weight: 400;
                color: rgba(105, 110, 124, 1);
                line-height: 1.2727;
            }
        }

        .btn-box {
            padding: 9px 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .reset-btn {
                width: 111px;
                margin-right: 9px;
            }
            
            .pickup-return-text{
                font-size: 12px;
                font-weight: 500;
                color: #333333;
                line-height: 1;
                .return-text{
                    margin: 9px 0 0 0;
                }
                .extra-text{
                    font-size: 11px;
                    font-weight: 400;
                    color: #696E7C;
                    margin: 7px 0 0 0;
                    display: flex;
                    align-items: center;
                    .icon{
                        width: 11px;
                        height: 11px;
                        margin: 0 2px 0 0;
                    }

                }
            }

            .submit-btn {
                width: 127px;
                height: 50px;
            }
        }
    }
}