.zzc-demo {
    background: transparent;
}
.zzc-demo .zzc-demo-body {
    padding: 0;
}
.inputItem{
    display: flex;
    align-items: center;
    p{
        line-height: 1;
        font-size: 14px;
    }
}
