<!DOCTYPE>
<html>
<head>
    <title>inputItem</title>
    {{> '../../template/header.hbs'}}
    <link rel="stylesheet" href="../css/inputItem.css">
<body>

<div id="root">

</div>
{{> '../../template/footer.hbs'}}
<script src="../js/inputItem.js"></script>

</body>
</html>
