<!DOCTYPE>
<html>
<head>
    <title>button</title>
    {{> '../../template/header.hbs'}}
    <link rel="stylesheet" href="../css/input-item.css">
<body>

<div id="root">

</div>
{{> '../../template/footer.hbs'}}
<script src="../js/input-item.js"></script>

</body>
</html>
