body {
    background: #fff !important;
}

.zzc-demo-body {
    .image-list{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        li{
            margin-bottom: .3rem;
            flex-shrink: 0;
            width: 2rem;
            height: 2rem;
            img{
                width: 100%;
                height: 100%;
            }
        }
        
    }
}
