

//字体基本颜色
$c_fff: #fff;
$c_ccc: #ccc;
$c_333: #333;
$c_666: #666;
$c_999: #999;
$c_000: #000;

//分割线颜色
$border_color: #DDE0E6;
//背景颜色
$bg_color: #F0F1F3;

//主题颜色
$main: #4E7CDD;
$main_lh: #86ABFF;
$main_dk: #254FCB;

$sub: #F40256;
$sub_lh: #FF5A82;
$sub_dk: #CC0033;

//功能颜色
$succee: #22BF66;
$succee_lh: #65F395;
$succee_dk: #008D3A;

$warn: #F5A300;
$warn_lh: #FFD449;
$warn_dk: #BD7400;

$error: #F34B3C;
$error_lh: #FF7F68;
$error_dk: #B90013;

$link: #20ABD9;
$link_lh: #69DDFF;
$link_dk: #007CA7;
