

//字体基本颜色
$c_fff: #fff;
$c_ccc: #ccc;
$c_333: #333;
$c_666: #666;
$c_999: #999;
$c_000: #000;

//分割线颜色
$border_color: #DDE0E6;
//背景颜色
$bg_color: #F0F1F3;

//主题颜色
$main: #4E7CDD;
$main_lh: #86ABFF;
$main_dk: #254FCB;

$sub: #F40256;
$sub_lh: rgb(19, 12, 14);
$sub_dk: #CC0033;

//功能颜色
$succee: #22BF66;
$succee_lh: #65F395;
$succee_dk: #008D3A;

$warn: #F5A300;
$warn_lh: #FFD449;
$warn_dk: #BD7400;

$error: #F34B3C;
$error_lh: #FF7F68;
$error_dk: #B90013;

$link: #20ABD9;
$link_lh: #69DDFF;
$link_dk: #007CA7;

// 新ui规范
$main: #2871F7; // 主色调
$poi: #FF5424; // poi使用色调
$title_black: #333333;// 标题黑色
$bg: #EFF2F8; // 大背景颜色
$tips: #FF8500; // 提示
$error: #CA0808; // 错误

$page_bg: #DDDDDD;
$block_bg: #EFF2F8;

// Button 默认
$button_background_main: $main;// 按钮默认颜色
$buton_main_background_active: #1F58C0;// 按钮点击颜色
$button_border_main: $main;// 按钮默认颜色
$buton_main_border_active: #1F58C0;// 按钮点击颜色
$button_text_color: $c_fff;
$button_background_inactive: #276FF1;// 未激活
$button_background_disabled: #696E7C;// 禁用
$button_border_disabled: #696E7C;// 禁用
// Button 次级
$button_sub_background_color: $c_fff;
$button_sub_border_color: $main;
$button_sub_text_color: $main;

$button_sub_active_background_color: rgba(40, 113, 247, 0.12);
$button_sub_active_border_color: $main;
$button_sub_text_color: $main;

$button_sub_disabled_background_color: $c_fff;
$button_sub_disabled_border_color: #696E7C;
$button_sub_disabled_text_color: #696E7C;
// Button 特殊
$button_special_background_color: $c_fff;
$button_special_text_color: #696E7C;
$button_special_border_color: #696E7C;
$button_special_active_border_color: rgba(105, 110, 124, 0.5);
// modal
$modal_border_color: #E7EBF0;
// tab
$tabs_border_color: #ECECEC;
// datepicker
$datePicker_border: #ECECEC;
$datePicker_footer_text_color: #696E7C;
// list
$list_item_border_color: #E7EBF0;
$list_item_title_color: $c_333;
$list_item_body_color: #696E7C;
// card
$card2_head_title_color: $c_333;
$card2_head_body_color: #696E7C;
$card2_body_bg: #F9FBFE;
// select
$select_header_border_color: #E7EBF0;
$select_header_text_color: #282828;
$select_body_item_color: $c_333;
$select_body_active_item_color: $main;
$select_body_disabled_item_color: #696E7C;
// input
$input_color: $c_333;
// prompt
$prompt_neutralColor:#576CBA;
$prompt_neutralBg: #E9F1FE;
$prompt_warnColor:$tips;
$prompt_warnBg:#FFF3E6;
$prompt_successColor:#2CB989;
$prompt_successBg:#E9F8F3;

// EasyCalculator
$calculator_active_background: rgba(40, 113, 247, .2);
$calculator_active_color: #3266FF;
$calculator_disabled_background: rgba(226,228,234,1);
$calculator_disabled_color: $c_fff;

// form
$form_focus_box_color: $main;
$form_success_box_color: #2CB989;
$form_warning_box_color: #FF8500;
$form_error_box_color: #CA0808;

// step
$step_line_background: #E2E4EA;
$step_finish_color: $c_333;
$step_color: #CED2D9;
$step_active_color: #2871F7;
$step_description_color: #8592A6;

$step_tag_color: #8592A6;
$step_tag_active_color: #FFFFFF;
$step_tag_background: #E2E4EA;
$step_tag_active_background: #2871F7;
