@import './_color.scss';

$fs10px: 10px;
$fs11px: 11px;
$fs12px: 12px;
$fs14px: 14px;
$fs16px: 16px;
$fs18px: 18px;
$fs20px: 20px;
$fs28px: 28px;

$fs20rem:.2rem;
$fs22rem:.22rem;
$fs24rem:.24rem;
$fs28rem:.28rem;
$fs32rem:.32rem;
$fs36rem:.36rem;
$fs40rem:.4rem;

// 新ui规范
$fs_menu: 18px;
$fs_h1: 17px;
$fs_h2: 14px;
$fs_text: 13px;
$fs_stext: 11px;