$fs10px: 10px;
$fs11px: 11px;
$fs12px: 12px;
$fs14px: 14px;
$fs16px: 16px;
$fs18px: 18px;
$fs20px: 20px;

$fs20rem:.2rem;
$fs22rem:.22rem;
$fs24rem:.24rem;
$fs28rem:.28rem;
$fs32rem:.32rem;
$fs36rem:.36rem;
$fs40rem:.4rem;