.zds-button{
    margin-bottom: .2rem;
}
.zds-button-inline{
    margin-right: .1rem;
}
.zds-button-active-custom{
    background: red;
    color:#fff;
}
.icon-button{
    display: flex;
    align-items: center;
    justify-content: center;
    .zds-icon{
        margin-right: .1rem;
    }
}