<!DOCTYPE>
<html>
<head>
    <title>Input</title>
    {{> '../../template/header.hbs'}}
    <link rel="stylesheet" href="../css/Input.css">
<body>
    
<div id="root">

</div>
{{> '../../template/footer.hbs'}}
<script src="../js/Input.js"></script>

</body>
</html>
