.zzc-demo-header {
    height: 120px;
    background: -webkit-linear-gradient(left,#4261d7,#5588d8);;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 1px 1px 8px #666;
    div{
        line-height: 1;
    }
    *{
        margin:0;
        padding: 0;
    }
    .zzc-demo-title {
        display: flex;
        align-items: flex-end;
        line-height: 1;
        h1 {
            color: #fff;
            font-size: 38px;
        }
        p {
            margin-left: 10px;
            color: #fff;
            font-size: 22px;
        }
    }
    .zzc-demo-version{
        display: flex;
        align-items: flex-end;
        line-height: 1;
        color:#fff;
        font-size: 18px;
    }
}



