.zzc-demo-header{
    height: 120px;
    background: #4E7CDD;
    display: flex;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
    h1{
        color:#fff;
        font-size: 28px;
    }
}