<!DOCTYPE>
<html>
<head>
    <title>Tabs</title>
    {{> '../../template/header.hbs'}}
    <link rel="stylesheet" href="../css/tabs.css">
<body>
<div id="root">

</div>
{{> '../../template/footer.hbs'}}
<script src="../js/tabs.js"></script>

</body>
</html>
