<!DOCTYPE>
<html>
<head>
    <title>Tabs</title>
    {{> '../../template/header.hbs'}}
    <link rel="stylesheet" href="../css/Tabs.css">
<body>
<div id="root">

</div>
{{> '../../template/footer.hbs'}}
<script src="../js/Tabs.js"></script>

</body>
</html>
