@import '../style/base.scss';
$cls: '.zds-alert';
$cls_button: '.zds-button';
#{$cls}-box {
    width: 6.3rem;
    overflow: hidden;
    @include borderRadius(.16rem);
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        width: 315px;
    }
    /* ipad横屏 */
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        width: 315px;
    }
    /* ipad竖屏 */
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        width: 315px;
    }
    
    #{$cls}-header{
        padding: .3rem;
        #{$cls}-title {
            color: #333;
            font-size: .32rem;
            text-align: center;
            &#{$cls}-only-title{
                padding: .34rem 0;
            }
        }
    }
    #{$cls}-body {
        &-content {
            padding-bottom: .3rem;
            color: #333;
            font-size: .28rem;
            word-wrap: break-word;
            text-align: center;
        }
    }
    #{$cls}-footer {
        width: 100%;
        overflow: hidden;
        height: 1rem;
        @include halfPXLine('top', $border_color);
        display: flex;
        align-items: center;
        justify-content: center;
        #{$cls}-btn {
            flex: 1;
            &:not(:first-child) {
                @include halfPXLine('left', $border_color);
            }
        }
    }
}