@import '../style/base.scss';
$cls: '.zds-alert';
$cls_button: '.zds-button';
#{$cls}-box {
    width: 304px;
    overflow: hidden;
    border-radius: 4px;
    
    #{$cls}-header{
        #{$cls}-title-img {
            width: 100%;
            height: 129px;
            position: relative;
            overflow: hidden;
            img{
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
        }
        #{$cls}-title {
            padding: 20px 20px 18px;
            line-height: 1;
            color: $c_333;
            font-weight: 600;
            font-size: $fs_h1;
            text-align: center;
        }
        #{$cls}-title-only {
            padding-top: 27.5px;
            padding-bottom: 27.5px;
        }
    }
    #{$cls}-body {
        padding: 0 20px;
        &-content {
            padding-bottom: 20px;
            color: $c_333;
            font-size: $fs_h2;
            word-wrap: break-word;
            text-align: left;
            font-weight: 400;
            line-height: 21px;
        }
    }
    #{$cls}-footer {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 50px;
        &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            right: 0;;
            height: 1px;
            background: $modal_border_color;
            transform: scaleY(.5) translateZ(0);
            transform-origin: top center;
        }
        @include flex();
        #{$cls}-btn {
            flex: 1;
            color: #2871F7;
            font-weight: 400;
            height: 100%;
            &:not(:first-child) {
                position: relative;
                &::after {
                    position: absolute;
                    content: '';
                    top: 0;
                    bottom: 0;
                    left: 0;
                    width: 1px;
                    background: $modal_border_color;
                    transform: scaleX(.5) translateZ(0);
                    transform-origin: left center;
                }
            }
        }
        &#{$cls}-vertical-footer{
            flex-direction: column;
            height: auto;
            #{$cls}-btn {
                width: 100%;
                &:not(:first-child) {
                    position: relative;
                    border-left: none;
                    &::after {
                        position: absolute;
                        content: '';
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background: $modal_border_color;
                        transform: scaleY(.5) translateZ(0);
                        transform-origin: top center;
                    }
                }
            }
        }
    }
}