.zzc-input-item{
    // margin-bottom: .2rem;
}

.zzc-demo .zzc-demo-body {
    background-color: #dde0e6;
    padding: 0;
    margin-top: 0;

    h5 {
        padding: .2rem .3rem;
    }
}

.extra-tips {
    color: #4E7CDD;
}
