.zzc-demo-content {
    display: flex;
    padding: 20px 0;
    overflow: hidden;
    width: 100%;
    .zzc-demo-menu {
        box-sizing: border-box;
        width: 300px;
        .ant-menu-root.ant-menu-inline{
            height: 100%;
        }
        // .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
        //     .zzc-demo-menu-title {
        //         color: #1890ff;
        //     }
        //     .zzc-demo-menu-subtitle {
        //         opacity: .65;
        //         color: #1890ff;
        //     }
        // }
        .ant-menu-item-group-title {
            padding-left: 24px;
        }
        .ant-menu-item-group-list {
            .zzc-demo-menu-title {
                padding-left: 30px;
            }
        }
        .zzc-demo-menu-title {
            font-size: 14px;
        }
        .zzc-demo-menu-subtitle {
            font-size: 12px;
            padding-left: 10px;
            opacity: .65;
        }
    }
    .zzc-demo-docs {
        padding: 0 30px;
        flex: 1;
    }
    .zzc-demo-box {
        margin-top: 50px;
        .zzc-demo-box-content {
            margin-top: 20px;
            width: 375px;
            height: 600px;
            background: #fff;
            display: flex;
            flex-direction: column;
            box-shadow: 2px 2px 8px #999;
            .zzc-demo-box-header {
                background: #000;
                padding: 0 10px 10px;
                .zzc-demo-box-header-bg {
                    box-sizing: border-box;
                    width: 100%;
                    height: 20px;
                    background: url('../../../img/demo.png') no-repeat center;
                    background-size: 100%;
                }
                .zzc-demo-box-search-box {
                    width: 100%;
                    height: 28px;
                    box-sizing: border-box;
                    padding: 0 10px;
                    line-height: 28px;
                    color: #fff;
                    background-color: #a2a2a2;
                    margin: 0 auto;
                    border-radius: 4px;
                    white-space: nowrap;
                    display: flex;
                    align-items: center;
                    justify-items: flex-start;
                    p {
                        margin: 0;
                        padding: 0;
                        line-height: 1;
                    }
                }
            }
            .zzc-demo-box-body {
                flex: 1;
                border-left: 1px solid #e8e8e8;
                border-right: 1px solid #e8e8e8;
                border-bottom: 1px solid #e8e8e8;
                box-sizing: border-box;
                iframe {
                    margin: 0;
                    padding: 0;
                    border: none;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}