$cls: '.zds-icon';

#{$cls}{
    fill: currentColor;
    background-size: cover;
    &-lg{
        width: .8rem;
        height: .8rem;
    }
    &-md{
        width: .6rem;
        height: .6rem;
    }
    &-sm{
        width: .4rem;
        height: .4rem;
    }
    &-xs{
        width: .2rem;
        height: .2rem;
    }
}

#{$cls}-loading {
    animation: cirle-zzc 1s linear infinite;
}

@keyframes cirle-zzc {
    100% {
        transform: rotate(360deg);
    }
}