$cls: '.zds-icon';

#{$cls}{
    fill: currentColor;
    background-size: cover;
    &-lg{
        width: 40px;
        height: 40px;
    }
    &-md{
        width: 30px;
        height: 30px;
    }
    &-sm{
        width: 20px;
        height: 20px;
    }
    &-xs{
        width: 10px;
        height: 10px;
    }
}

#{$cls}-loading {
    animation: cirle-zzc 1s linear infinite;
}

@keyframes cirle-zzc {
    100% {
        transform: rotate(360deg);
    }
}