$cls: '.zds-icon';

#{$cls}{
    fill: currentColor;
    background-size: cover;
    &-lg{
        width: 40px;
        height: 40px;
    }
    &-md{
        width: 36px;
        height: 36px;
    }
    &-normal{
        width: 28px;
        height: 28px;
    }
    &-sm{
        width: 24px;
        height: 24px;
    }
    &-xs{
        width: 20px;
        height: 20px;
    }
}

#{$cls}-loading {
    transform-origin:50% 50%;  
    animation: cirle-zzc 1s linear infinite;
}

@keyframes cirle-zzc {
    100% {
        transform: rotate(360deg);
    }
}