.zzc-demo-body{
    height: 100%;
}
.touch-btn{
    margin: .3rem 0;
    color:#333;
    font-size: .28rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e1e1e1;
    border-radius: .04rem;
    padding: .3rem;
}

.active-class{
    background: #999;
}